@keyframes timerAnimate {
  from {
    opacity: 1;
    font-size: 1em;
  }
  to {
    opacity: 0;
    font-size: 10em;
  }
}

.timer {
  .timer-number {
    opacity: 0;
    font-weight: 900;
    &.timer-number-animate {
      animation: timerAnimate 1000ms infinite;
    }
  }
}
